// font
@import url('https://fonts.googleapis.com/css?family=Poppins');
$primaryFont: 'Poppins', sans-serif;

// colors
$slate: #262626;
$darkSlate: #1C1C1C;
$light: #fafafa;
$sky: #649AFF;
$orange: #FFA500;
