.login-wrapper {
  margin: 0 auto;
  max-width: 1200px;
}

.about-container {
  flex-direction: column;
  padding: 4rem;
  @include bp(medium) {
    margin: 0 auto;
    width: 85%;
  }
  @include bp(large) {
    float: left;
    width: 50%;
  }

  h2 {
    margin-bottom: .5rem;
    text-align: center;
  }

  p {
    a {
      color: $sky;

      &:hover {
        text-decoration: underline;
      }
    }

    &:first-of-type {
      margin-bottom: 1rem;
    }
  }
}

.login-container {
  @include bp(mobile) {
    width: 100%;
  }
  @include bp(medium) {
    margin: 0 auto;
    min-width: 350px;
    width: 85%;
  }
  @include bp(large) {
    float: right;
    width: 50%;
  }

  .login-form {
    align-items: center;
    background: $slate;
    border: 6px solid $sky;
    border-radius: 2rem;
    height: 400px;
    flex-direction: column;
    justify-content: center;
    margin: 5rem 2rem;

    input {
      background: $light;
      border: 6px solid $sky;
      display: block;
      margin: .5rem auto 1rem auto;
      padding: .25rem;
    }

    button {
      background: $slate;
      border: 6px solid $sky;
      border-radius: 2rem;
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }
      &:active {
        background: $light;
      }
    }
  }
}
