.song-details-wrapper {
  .user-data-container {
    margin: 1rem auto;
  }
}

.song-details-container {
  background: $slate;
  border-radius: 25px;
  margin: 2rem auto;
  max-width: 800px;
  padding: 2rem;
}

.details-container {
  margin-bottom: 1rem;
  @include bp(mobile) {
    align-items: center;
    flex-direction: column;
  }
  @include bp(medium) {
    flex-direction: row;
  }

  .album-container {
    @include bp(mobile) {
      margin-top: 2rem;
      width: 100%;
    }
    @include bp(medium) {
      margin-top: 0;
    }

    img {
      border: 2px solid $light;
    }

    .release-info {
      justify-content: space-between;
      padding: 0 .5rem;
    }
  }

  .artist-container {
    @include bp(mobile) {
      flex-direction: column;
      width: 100%;
    }
    @include bp(medium) {
      margin-right: 2rem;
    }
  }
}

.player-container {
  .player-controls {
    justify-content: center;

    div {
      border: 2px solid $light;
      cursor: pointer;
      height: 150px;
      padding: 1rem;
      width: 150px;

      &.active {
        background: $orange;
      }
    }

    .player-save {
      align-items: center;
      justify-content: center;
    }
  }
}
