.user-details-wrapper {
  .user-data-container {
    margin: 1rem auto;
  }
}

.full-user-container {
  @extend .song-details-container;
  position: relative;

  .user-data-container {
    flex-direction: column;

    .avatar-container {
      align-items: center;
      margin-left: 1rem;
      width: 25%;

      .add-friend-btn {
        background: $light;
        cursor: pointer;
        margin-left: 1rem;
        width: 50px;

        &.active {
          background: $orange;
        }
      }
    }

    .data-container {
      margin-top: 1rem;
      width: 100%;

      .user-nm, .user-login-date {
        color: $orange;
      }
      .user-nm {
        font-size: 1.5rem;
        text-decoration: underline;
      }
    }
  }

  .user-songs-container {
    li {
      a {
        color: $sky;
        cursor: pointer;

        &:hover {
          color: $orange;
          text-decoration: underline;
        }
      }
    }
  }
}
