<!--
  Login:
    -Users should be able to type in their username and password and click 'continue'.
    -Their username should show up on all other pages.
-->

<header>
  <div class="header-content-wrapper is-flex">
    <div class="logo-container">
      <img class="logo" src="images/logo.gif" alt="doppler effect diagram">
    </div>
    <div class="title-container is-flex">
      <h1 class="title">doppler</h1>
      <p class="subtitle">A social music app, connecting you with the latest sounds</p>
    </div>
  </div>
</header>

<main>
  <div class="login-wrapper">
    <section class="about-container">
      <h2>What is doppler?</h2>
      <p>Doppler is a mock-up of a responsive social media app that focuses around sharing songs.  Doppler was built using Angular 1.5, compiled with gulp, and uses local storage to cache and display user data.  The songs available are selections from a few of my favorite bands. The data for the songs came from <a href="https://developer.spotify.com/web-api/" target="_blank">Spotify's Web API</a>.</p>
      <p>To get started, simply set a username for yourself and submit the login form.  To play around with making friends, create a few users, which will be set into local storage and become available during perusal of the app.</p>
    </section>

    <section class="login-container">
      <form name="loginForm" ng-submit="loginCtrl.authenticate(loginForm.username.$viewValue)" novalidate class="login-form is-flex">
        <label for="username">username:<input ng-model="username" ng-required="true" name="username" type="text"></label>
        <button class="login-submit" ng-disabled="loginForm.$invalid">continue</button>
      </form>
    </section>
  </div>
</main>
