<!-- Songs List -->
<header class="is-flex">
  <div class="header-content-wrapper is-flex">
    <div class="logo-container">
      <img class="logo" src="images/logo.gif" alt="doppler effect diagram">
    </div>
    <div class="title-container is-flex">
      <h1 class="title">doppler</h1>
      <p class="subtitle">A social music app, connecting you with the latest sounds</p>
    </div>
  </div>
  <nav ng-controller="appController as appCtrl">
    <ul class="nav-list is-flex">
      <li ui-sref-active="active" ui-sref="DopplerParent.profile">home</li>
      <li ui-sref-active="active" ui-sref="DopplerParent.songs">songs</li>
      <li ui-sref-active="active" ui-sref="DopplerParent.friends">friends</li>
    </ul>
  </nav>
</header>

<main class="songs-list-wrapper">
  <div class="user-data-container is-flex">
    <div class="avatar-container">
      <img class="avatar" ng-src="{{currentUser.avatar}}" alt="{{currentUser.username}} avatar">
    </div>
    <div class="data-container is-flex">
      <span class="user-nm is-flex">
        {{currentUser.name}}
        <button ng-click="userLogOut()" class="logout-btn">log out</button>
      </span>
      <span class="user-login-date">last login: {{currentUser.lastLoginDate | date: "MMM dd hh:mma"}}</span>
    </div>
  </div>
  <section class="songs-container">
    <table class="songs-table">
      <caption></caption>
      <thead>
        <tr>
          <th></<th>
          <th></<th>
          <th class="sortable" ng-click="updateTable('name')">track <img class="sort-icon" ng-class="{reverse: orderByField === 'name' && !reverseSort}" src="./images/sort-icon.png" alt="sort"></<th>
          <th class="sortable" ng-click="updateTable('duration')">duration <img class="sort-icon" ng-class="{reverse: orderByField === 'duration' && !reverseSort}" src="./images/sort-icon.png" alt="sort"></<th>
          <th class="sortable" ng-click="updateTable('artist_name')">artist <img class="sort-icon" ng-class="{reverse: orderByField === 'artist_name' && !reverseSort}" src="./images/sort-icon.png" alt="sort"></<th>
          <th>more info</<th>
          <th></<th>
        </tr>
      </thead>
      <tbody>
        <tr class="is-centered" ng-repeat="song in allSongs | orderBy: orderByField:reverseSort">
          <td ng-class="{active: currTrackSrc === song.preview_url && playing}" ng-click="play(song.preview_url); playing = true" class="player-play">
            <img src="./images/play-icon.png" alt="play-icon">
          </td>
          <td ng-class="{active: currTrackSrc === song.preview_url && !playing}" ng-click="pause(song.preview_url); playing = false" class="player-pause">
            <img src="./images/pause-icon.png" alt="pause-icon">
          </td>
          <td class="track">{{song.name}}</td>
          <td class="duration">{{song.duration}}</td>
          <td class="artist">{{song.artist[0].name}}</td>
          <td class="more"><a ui-sref="DopplerParent.songDetails({id: song.id})">more info</a></td>
          <td ng-class="{active: currentUserSongs.indexOf(song.id) !== -1}" ng-click="toggleSaveSong(currentUser, song.id)" class="player-save"><img src="./images/save-icon.png" alt="save-icon"></td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
