<!-- Song Details -->
<header class="is-flex">
  <div class="header-content-wrapper is-flex">
    <div class="logo-container">
      <img class="logo" src="images/logo.gif" alt="doppler effect diagram">
    </div>
    <div class="title-container is-flex">
      <h1 class="title">doppler</h1>
      <p class="subtitle">A social music app, connecting you with the latest sounds</p>
    </div>
  </div>
  <nav ng-controller="appController as appCtrl">
    <ul class="nav-list is-flex">
      <li ui-sref-active="active" ui-sref="DopplerParent.profile">home</li>
      <li ui-sref-active="active" ui-sref="DopplerParent.songs">songs</li>
      <li ui-sref-active="active" ui-sref="DopplerParent.friends">friends</li>
    </ul>
  </nav>
</header>

<main class="song-details-wrapper">
  <div class="user-data-container is-flex">
    <div class="avatar-container">
      <img class="avatar" ng-src="{{currentUser.avatar}}" alt="{{currentUser.username}} avatar">
    </div>
    <div class="data-container is-flex">
      <span class="user-nm is-flex">
        {{currentUser.name}}
        <button ng-click="userLogOut()" class="logout-btn">log out</button>
      </span>
      <span class="user-login-date">last login: {{currentUser.lastLoginDate | date: "MMM dd hh:mma"}}</span>
    </div>
  </div>

  <section class="song-details-container">
    <div class="details-container is-flex">
      <div class="artist-container is-flex">
        <h2>{{song.artist[0].name}}</h2>
        <span class="label">Label: {{song.label}}</span>
        <p>{{song.artist[0].biography}}</p>
      </div>
      <div class="album-container">
        <img ng-src="{{song.artist[0].image}}">
        <div class="release-info is-flex">
          <span>{{song.album_name}}</span>
          <span>release year: {{song.release_date}}</span>
        </div>
      </div>
    </div>
    <div class="player-container">
      <h3 class="song-title is-centered">{{song.name}}</h3>
      <div class="player-controls is-flex">
        <div ng-class="{active: playing}" ng-click="play(song.preview_url)" class="player-play">
          <img src="./images/play-icon.png" alt="play-icon">
        </div>
        <div ng-class="{active: !playing}" ng-click="pause(song.preview_url)" class="player-pause">
          <img src="./images/pause-icon.png" alt="pause-icon">
        </div>
        <div ng-class="{active: currentUserSongs.indexOf(song.id) !== -1}" ng-click="toggleSaveSong(currentUser, song.id)" class="player-save is-flex">
          <img src="./images/save-icon.png" alt="save-icon">
        </div>
      </div>
    </div>

  </section>
</main>
